//scss全局变量
//主色调
$base_color:#07c160;
//左侧菜单区域
$layout_menu_width:260px;
$layout_menu_background:#1E1E1E;
//右侧顶部状态栏区域
$layout_tabar_height:50px;
$layout_tabar_background:#FFFFFF;
//右侧内容展示区域
$layout_content_background:#FFFFFF;
$logo_height:50px;

